label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.input-label {
  z-index: 0;
  display: inline-block;
  margin: 16px 16px 16px 0;
  position: relative;
  width: 240px;
  height: 46px;
  border-radius: 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
}

.input-label label {
  position: absolute;
  z-index: 0;
  color: gray;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.input-label input {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.input-label input:placeholder-shown + label {
  top: 11px;
  left: 0px;
  right: 0;
  bottom: 0;
}

.input-label input:not(placeholder-shown) + label {
  top: -24px;
  left: -12px;
  right: 0;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 108, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(0, 108, 255, 0.5);
}

input[type="text"], input[type="password"] {
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 45px;
  border: solid 1px black;
}

input[type="radio"] {
  margin: 5px;
  position: relative;
  border-radius: 50%;
  border: 1px solid black;
  width: 24px;
  height: 24px;
}

input[type="radio"]:before {
  content: "";
  display: block;
  -webkit-box-shadow: 0 0 2px 0.2rem rgba(0, 108, 255, 0.5);
  box-shadow: 0 0 2px 0.2rem rgba(0, 108, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  left: 7px;
  top: 7px;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #006CFF;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .2s;
  transition: .2s;
}

input[type="radio"]:checked {
  border: 1px solid #006CFF;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 108, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(0, 108, 255, 0.5);
}

input[type="radio"]:checked:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

input[type="checkbox"] {
  margin: 5px;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  width: 24px;
  height: 24px;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  left: 7px;
  top: 2px;
  margin: auto;
  width: 5px;
  height: 13px;
  border-right: 3px solid #006CFF;
  border-bottom: 3px solid #006CFF;
  -webkit-transform: scale(0) rotate(90deg);
  -ms-transform: scale(0) rotate(90deg);
  transform: scale(0) rotate(90deg);
  -webkit-transition: .2s;
  transition: .2s;
}

input[type="checkbox"]:checked {
  border: 1px solid #006CFF;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 108, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(0, 108, 255, 0.5);
}

input[type="checkbox"]:checked:before {
  -webkit-transform: scale(1) rotate(45deg);
  -ms-transform: scale(1) rotate(45deg);
  transform: scale(1) rotate(45deg);
}

input[type="submit"] {
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
