<!-- ナビゲーションアイテム -->
<div class="sp-only">
    <div class="btn nav1-btn">三</div>
    <div class="nav1-menu">
        <div class="nav1-item">アイコン</div>
        <div class="nav1-item">登録</div>
        <div class="nav1-item">履歴</div>
        <div class="nav1-item">設定</div>
        <div class="nav1-item">ログアウト</div>
    </div>
    <div class="nav1-bg"></div>
</div>
<div class="pc-only">
    <div class="nav1-menu">
        <div class="nav1-item">アイコン</div>
        <div class="nav1-item">登録</div>
        <div class="nav1-item">履歴</div>
        <div class="nav1-item">設定</div>
        <div class="nav1-item">ログアウト</div>
    </div>
</div>
<div class="content-main">
    <div class="nav1-space"></div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>
    <div>contentaaaaaaaaaaaa</div>

</div>
