<div class="content-main">
    <h1>カードデザイン</h1>
    <div class="content-block-horizontal center">
        <div class="card text-center">
            <div class="card-body">
                <p>データ1</p>
                <p>データ2</p>
                <p>データ3</p>
                <div class="text-center">
                    <div class="btn btn-theme btn-size-3">編集</div>
                    <div class="btn btn-danger btn-size-3">削除</div>                            
                </div>
            </div>
        </div>
    </div>
    <div class="content-block-horizontal center">
        <div class="card text-center">
            <div class="card-body">
                <p>データ1</p>
                <p>データ2</p>
                <p>データ3</p>
                <div>
                    <div class="btn btn-theme btn-size-6">編集</div>
                    <div class="btn btn-danger btn-size-6">削除</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <img class="card-img" src="http://placehold.jp/320x150.png" alt="">
        <div class="card-body">
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <div>
                <div class="btn btn-theme btn-size-9">編集</div>
                <div class="btn btn-danger btn-size-9">削除</div>
            </div>
        </div>
    </div>
    <div class="card">
        <img class="card-img" src="http://placehold.jp/320x150.png" alt="">
        <div class="card-body">
            <p>content</p>
            <p>content</p>
            <p>content</p>
            <div>
                <div class="btn btn-theme btn-size-block">編集</div>
                <div class="btn btn-danger btn-size-block">削除</div>
            </div>
        </div>
    </div>
</div>
