.btn {
  display: inline-block;
  min-width: 80px;
  margin-bottom: 16px;
  padding: 15px 24px;
  border-radius: 44px;
  background: white;
  font-size: 14px;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);
}

.btn.btn-theme {
  background-color: #4FB200;
  color: white;
}

.btn.btn-danger {
  background-color: #FF0000;
  color: white;
}

.btn.btn-success {
  background-color: #006CFF;
  color: white;
}

.btn.btn-b {
  border: solid 1px black;
  color: black;
}

.btn.btn-b-theme {
  border: solid 1px #4FB200;
  color: #4FB200;
}

.btn.btn-b-danger {
  border: solid 1px #FF0000;
  color: #FF0000;
}

.btn.btn-b-success {
  border: solid 1px #006CFF;
  color: #006CFF;
}

.btn:hover {
  cursor: hand;
  opacity: 0.6;
}
