<div class="content-main">
    <h1>レイアウトデザイン</h1>
    <h3>.content-main</h3>
    <div class="content-block" style="background-color:skyblue;">
        <h3>.content-block</h3>
        <div>下にmargin16pxをつける</div>
    </div>
    <div class="content-block-horizontal" style="background-color:skyblue;">
        <h3>.content-block-horizontal</h3>
        <div>下にmargin16pxをつける</div>
    </div>
    <div class="content-block-horizontal" style="background-color:skyblue;">
        <h3>.content-block-horizontal</h3>
        <div>下にmargin16pxをつける</div>
    </div>
    <div class="content-block-horizontal" style="background-color:skyblue;">
        <h3>.content-block-horizontal</h3>
        <div>下にmargin16pxをつける</div>
    </div>
    <p>↑16pxの余白がつく</p>
    <div class="content-block center" style="background:yellow;">
        <h3>.content-block .center</h3>
        <div class="content-block-horizontal" style="background-color:skyblue;">
            <h3>.content-block-horizontal</h3>
            <div>下にmargin16pxをつける</div>
        </div>
        <div class="content-block-horizontal" style="background-color:skyblue;">
            <h3>.content-block-horizontal</h3>
            <div>下にmargin16pxをつける</div>
        </div>
        <div class="content-block-horizontal" style="background-color:skyblue;">
            <h3>.content-block-horizontal</h3>
            <div>下にmargin16pxをつける</div>
        </div>
        <div class="content-block-horizontal" style="background-color:skyblue;">
            <h3>.content-block-horizontal</h3>
            <div>下にmargin16pxをつける</div>
        </div>
        <div class="content-block-horizontal" style="background-color:skyblue;">
            <h3>.content-block-horizontal</h3>
            <div>下にmargin16pxをつける</div>
        </div>
    </div>
</div>