<link rel="stylesheet" href="{{path '/css/style.css'}}">
<link rel="stylesheet" href="{{path '/css/layout.css'}}">
<div class="content-main">
    <h1>レイアウトデザイン</h1>
    <h2>はじめましてはじめましてはじめましてはじめましてはじめまして</h2>
</div>