@charset "utf-8";

// モバイルファースト
.content-main{
    background:white;
    margin:8px;
    padding:8px;
}

.content-block{
    padding: 0 8px;
    margin-bottom: 16px;
    &.center{
        text-align:center;
    }
    .content-block-horizontal{
        text-align:left
    }
}

.content-block-horizontal{
    display:inline-block;
    padding: 0 8px;
    margin-bottom:16px;
    vertical-align: top;
    &.align-middle{
        vertical-align: middle;
    }
    &.align-bottom{
        vertical-align: bottom;
    }
}

.text-center{
    text-align:center;
}

// タブレット415pxから959pxまで
@media screen and (min-width:$breakpoint-m){
    // .content-main{
    //     margin:8px auto;
    //     max-width:415px;
    // }    
}

//　PC用デザイン960pxから
@media screen and (min-width:$breakpoint-l){
    .content-main{
        margin:8px auto;
        max-width:800px;
    }    
}
