@charset "utf-8";
@import "setting";

label{
    // スマホでラベルタップ時にハイライトしないようにする
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.input-label{
    z-index:0;
    display:inline-block;
    margin: 16px;
    position: relative;
    width: 240px;
    height: 46px;
    border-radius: 45px;
    box-sizing: border-box;
    background:transparent;
    
    label{
        position: absolute;
        z-index: 0;
        color:gray;
        transition: .2s;
        font-size: 20px;
        box-sizing: border-box;
    }
    input{
        position:absolute;
        z-index:1;
        width: 100%;
        height:100%;
        background:rgba(0,0,0,0);
        box-sizing: border-box;
        &:placeholder-shown{
            + label{
                top:11px;
                left:0px;
                right:0;
                bottom:0;
            }
        }
        &:not(placeholder-shown){
            + label{
                top:-24px;
                left:-12px;
                right:0;
                transform: scale(0.8);
            }
        }
    }
}

input{
    box-sizing: border-box;
    &[type]{
        appearance: none;
    }
    &:focus{
        outline:none;
        box-shadow: 0 0 0 .2rem rgba($color: $color-success, $alpha: 0.5)
    }

    &[type="text"],&[type="password"]{
        padding: 15px 20px;
        font-size:16px;
        border-radius: 45px;
        border:solid 1px black;
    }

    &[type="radio"]{
        margin:5px;
        position: relative;
        border-radius: 50%;
        border: 1px solid black;
        width:40px;
        height:40px;
        &:before{
            content:"";
            display:block;
            box-shadow: 0 0 2px .2rem rgba($color: $color-success, $alpha: 0.5);
            border-radius: 50%;
            position: absolute;
            left:11px;
            top:11px;
            margin: auto;
            width:16px;
            height:16px;
            background:$color-success;
            transform:scale(0);
            transition:.2s;
        }
        &:checked{
            border: 1px solid $color-success;
            box-shadow: 0 0 0 .2rem rgba($color: $color-success, $alpha: 0.5);
            &:before{
                transform:scale(1);
            }
        }
    }
    &[type="checkbox"]{
        margin:5px;
        position: relative;
        border: 1px solid black;
        border-radius: 5px;
        width:40px;
        height:40px;
        box-shadow: 0 0 0 0;
        &:before{
            content:"";
            display:block;
            position: absolute;
            left:14px;
            top:7px;
            margin: auto;
            width:8px;
            height:17px;
            border-right: 3px solid $color-success;
            border-bottom: 3px solid $color-success;
            transform:scale(0) rotate(90deg);
            transition:.2s;
        }
        &:checked{
            border: 1px solid $color-success;
            box-shadow: 0 0 0 .2rem rgba($color: $color-success, $alpha: 0.5);
            &:before{
                transform:scale(1) rotate(45deg);
            }
        }    
    }
    &[type="submit"]{
        box-shadow: 0 0 0 0;
    }
}