@charset "utf-8";
// colors
$color-background:#F2F2F2;
$color-theme: #4FB200;
$color-danger: #FF0000;
$color-success: #006CFF;
$color-none: #DCDCDC;

// breakpoint
// スマホ用は0から414pxまでなのでデザインをモバイルを優先に作り込む
$breakpoint-m:415px;//タブレット用breakpoint(414pxから959pxまで)
$breakpoint-l:960px;//PC用breakpoint(960pxから)
